html {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.app {
  width: 100%;
  max-width: 960px;
  margin: auto;
}
.header {
  margin-bottom: 30px;
  padding: 20px 0;
}
.header__logo {
  height: 22px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.main__title {
  margin-bottom: 30px;
}
.add-task-button {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding: 4px 12px;
  background: #ffffff;
  border: 0;
  color: #2D3748;
}
.show-completed-button {
  align-self: flex-end;
  margin-top: 45px;
  padding: 4px 12px;
  background: #ffffff;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
